@use '@/assets/styles/mixins/mixins.scss' as *;

.pokemons{
    @include displayFlex(column, center);
    position: relative;
    padding: 20px;
    width: 100%;

    .pokemons__bar{
        @include displayFlex(row, center);
        align-items: center;
        gap: 10px;
        padding: 20px 0px;
        border-bottom: solid 1px var(--primary-border-color);

        .search__bar {
            position: relative;
            width: 100%;
            max-width: 350px;
            min-width: 200px;
        }

        .search__bar-icon {
            position: absolute;
            left: 14px;
            top: 50%;
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            color: var(--secondary-text-color);
            pointer-events: none;
        }

        .search__bar-input {
            width: 100%;
            padding: 10px 28px 10px 42px;
            font-size: var(--font-size-sm);
            border: 1px solid var(--primary-border-color);
            border-radius: 10px;
            background-color: var(--primary-background);
            outline: none;
            transition: all 0.3s ease;

            &:focus{
                border-color: var(--secondary-border-color);
            }
        }

        .search__bar-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: var(--font-size-sm);
            border-radius: 2px;
            padding: 4px;

            &:hover{
                color: var(--secondary-border-color);
            }

            &:focus-visible{
                outline: 1px solid var(--secondary-border-color);
            }
        }
    }

    .pokemons__list{
        @include displayFlex(column, center);
        gap: 30px;
        margin-top: 30px;
        padding: 30px 10px;

        .pokemons__loader{
            width: 100%;
            height: 80dvh;
        }

        .pokemons__list-cards{
            @include displayFlex(row, center);
            flex-wrap: wrap;
            gap: 40px;
        }

        .pokemons__list-btn{
            padding: 10px 20px;
            width: max-content;
            margin: 0px auto;
            color: var(--tertiary-text-color);
            border-radius: 20px;
            background-color: var(--tertiary-background);
            transition: opacity 100ms ease-in;

            &:hover{
                opacity: 0.9;
            }
        }

        .pokemons__error{
            width: 100%;
            height: 80dvh;
            @include displayFlex(column, center);
        }
    }
}