
@mixin rotateAnimation(){
    animation: rotate-animation 1s linear infinite;

    @keyframes rotate-animation {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}