:root {
    line-height: 1.5;
    font-synthesis: none;
    font-weight: 400;
    background-color:#F6F7F9;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    font-size: 16px;
    width: 100%;
    min-width: 300px;
    scroll-behavior: smooth;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul{
    list-style: none;
    padding:0px;
}

picture{
    display: block;
    margin: 0px auto;
}

img{
    width: 100%;
    height: 100%;
}